
  <!-- ======= Intro Section ======= -->
  <section id="intro">

    <div class="intro-content">
      <h2>Tus turnos <span>Enfila</span><br>facil!</h2>
      <div>
        <a href="#contact" class="btn-get-started scrollto">Empecemos</a>
        <a href="http://www.prometeo639.com.ar" target="_blank" class="btn-projects scrollto">Mas Proyectos</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
    </div>

  </section><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="https://demos.onepagelove.com/html/atlas/img/feature-1.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Eres una Clinica o un Profesional de la Salud?</h2>
            <h3>Ponemos a tu disposicion un sistema comodo, facil y amigable de administracion web y una aplicacion movil para automatizar tus turnos.</h3>

            <ul>
              <li><i class="fa fa-check-circle"></i> Informacion en tiempo real.</li>
              <li><i class="fa fa-check-circle"></i> Administracion de tus prestadores y pacientes.</li>
              <li><i class="fa fa-check-circle"></i> Una aplicacion con la ultima tecnologia en Software Android.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Servicios de Enfila</h2>
          <p>Conocemos el valor de tu tiempo y la necesidad de organizar correctamente el dia a dia,
            por eso nos hemos dedicado a entregar una solucion practica para que sea nuestra app
            la que entregue toda la informacion correcta y en tiempo real.</p>


        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="">Turnos</a></h4>
              <p class="description">Con nuestra Enfila Android App los usuarios podran solicitar un turno de la especialidad que necesiten
                , el profesional que elijan y el dia que mas convenga.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Informacion</a></h4>
              <p class="description">Para Clinicas y Prestadores de Salud Medica , ofrecemos informacion en tiempo real de las solicitudes ,turnos, prestadores y usuarios.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-address-book"></i></div>
              <h4 class="title"><a href="">Administracion</a></h4>
              <p class="description">Una plataforma robusta que complementa un sistema administrativo de informacion en tiempo real.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Flexibilidad</a></h4>
              <p class="description">Enfila puede adaptarse a todos los usos imaginables que el cliente solicite, totalmente personalizable y escalable</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contactanos</h2>
          <p>Enfila es parte de un grupo de proyectos que combina las aplicaciones moviles con los sistemas de administracion web, diseñados y desarrollados por Prometeo 639.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="fa fa-map-marker"></i>
              <h3>Direccion</h3>
              <address>Mendoza , Argentina</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="fa fa-phone-square"></i>
              <h3>Telefono</h3>
              <p><a href="tel:+54 261 4719727">+54 261 4719727</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="fa fa-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:guille.g.huidobro@gmail.com">guille.g.huidobro@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container">

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ENFILA</strong>. 2021
      </div>
      <div class="credits">
        Diseñado y Desarrollado por <a href="">Prometeo 639</a>
      </div>
    </div>
  </footer><!-- End Footer -->

