
<div class="row">
  <div class="col-md-12">
    <h2>Prestadores de Servicios</h2>
    <button  (click)="newProfesional()" type="button" class="btn nuevo-servicio-class" data-toggle="modal"
    data-target="#addModal">
    Crear Profesional
  </button>
</div>
</div>


<div class=" row">
  <div class="col-md-6">
    <h4>Lista de Prestadores de Servicios</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let profesional of profesionales; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveProfesional(profesional, i)"
        data-toggle="modal" data-target="#myModal" 
      >
        
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                {{profesional.especialidad}}
              </div>
              <div class="col-md-4">
                {{profesional.nombre}}
              </div>
              <div class="col-md-4">
                {{profesional.apellido}}
              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>

  </div>

  <div class="col-md-6">
    <div *ngIf="currentProfesional">
      <app-profesional-details
        (refreshList)="refreshList()"
        [profesional]="currentProfesional"
      ></app-profesional-details>
    </div>
  </div>

</div>


<!-- The Modal -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Nuevo Profesional</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12 form-class">
        <div class="submit-form">
          <div>
            <div class="form-group">
              <label for="nombre">Especialidad</label>
              <input
                type="text"
                class="form-control"
                id="especialidad"
                required
                [(ngModel)]="profesional.especialidad"
                name="especialidad"
              />
            </div>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                required
                [(ngModel)]="profesional.nombre"
                name="nombre"
              />
            </div>
        
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input
                class="form-control"
                id="apellido"
                required
                [(ngModel)]="profesional.apellido"
                name="apellido"
              />
            </div>
        
            <div class="form-group">
              <label for="numero">Numero</label>
              <input
                class="form-control"
                id="numero"
                required
                [(ngModel)]="profesional.numero"
                name="numero"
              />
            </div>

          </div>
    </div>

    </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="saveProfesional()" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
