.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.nuevo-servicio-class{
  background-color: #348b6e;
  color: #fff;
  margin-bottom:30px;
}

.form-class{
  padding-right: 135px;
  padding-left: 135px;
  padding-top: 15px;
}

.list-group-item.active{
  background-color: #348b6e;
  color: #fff;
}