<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ENFILA</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="inicio" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link">Turnos</a>
      </li>
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Usuarios</a>
      </li>
      <li class="nav-item">
        <a routerLink="profesionales" class="nav-link">Prestadores</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
